* {
    width: auto;
    margin: 0;
    max-width: 1920px;
}
html {
    box-sizing: border-box;
}

/* Latest news */
.container {
    width: auto;
    margin: auto;
    max-width: 1170px;
}
.articles_list {
    padding: 100px 0 100px;
    margin: auto;
}

.item {
    height: 1530px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #efefef;
    border-radius: 5px;
}
.item:hover {
    box-shadow: 0px 0px 15px rgb(182 182 182);
}
.image {
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}
.image img {
    border-radius: 5px;

    height: 420px;
    transform: scale(1);
    transition: all 0.5s;
}
.text {
    width: 705px;
    height: 100%;
    margin-left: 25px;
}
.articles_list_text_title h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 1.3;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    margin-bottom: 30px;
}
.articles_list_text_heading {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    margin-bottom: 30px;
}
.articles_list_text_title a {
    text-decoration: none;
}
.articles_list_text_title h3:hover {
    color: #028bfe;
}
.articles_list_text_date {
    font-size: 14px;
    font-family: "Istok Web", sans-serif;
    margin-top: 25px;
}
.articles_list_text_date a {
    text-decoration: none;
}
.articles_list_text_date span {
    color: #707070;
}
.articles_list_text_date i {
    color: #028bfe;
}
.articles_list_text_sub {
    margin-bottom: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
}
.articles_list_text_content {
    display: flex;
    margin-bottom: 30px;
    margin-top: 35px;
}
.articles_list_text_reply {
    font-size: 20px;
    font-family: "Istok Web", sans-serif;
    font-weight: 600;
    margin-left: 30px;
}
.articles_list_text_reply span {
    position: relative;
    color: #908f8f;
    margin-left: 47px;
}
.articles_list_text_reply span::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    border: 0.5px solid #908f8f;
    left: -45px;
    width: 40%;
    top: 45%;
}
.articles_list_text_icon {
    position: relative;
}
.articles_list_text_icon img {
    margin-left: 30px;
}
.articles_list_text_icon::after {
    content: "";
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 0;
    border-left: 3px solid #028bfe;
    height: 95%;
}
.article_list_content_list {
    font-family: "Istok Web", sans-serif;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.article_list_content {
    font-family: "Istok Web", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}
.article_list_content_item {
    font-size: 16px;
    padding-bottom: 20px;
}
.article_list_content_item span {
    margin-left: 7px;
}
.article_list_content_textIcon {
    display: flex;
    justify-content: space-between;
}
.article_list_content_text {
    margin-top: 20px;
    font-size: 16px;
    color: #028bfe;
    font-family: "Istok Web", sans-serif;
}
.article_list_content_icon {
    margin-top: 10px;
}
.article_list_content_icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    border: 1px solid #cccdce;
    margin: 0 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

.article_list_content_icon i.fa:hover {
    background-color: #0281ff;
    border: 1px solid #fff;
    color: #fff;
}
.article_list_recent_heading {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.article_list_content_items {
    margin-right: 30px;
}
.recent_posts_img img {
    width: 370px;
    height: 260px;
    position: relative;
}
.recent_posts_date {
    position: absolute;
    z-index: 1;
}
.recent_posts_content_info {
    border-radius: 7px;
    width: 305px;
    height: 175px;
    box-shadow: 0px 0px 10px #efefef;
    position: relative;
    position: absolute;
    z-index: 1;
    margin-left: 32.5px;
    margin-top: -35px;
    background-color: #fff;
}
.recent_posts_content_info:hover {
    box-shadow: 0px 0px 15px rgb(182 182 182);
}
.recent_posts_content_title {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}
.recent_posts_content_title h5 {
    font-weight: bold;
}
.recent_posts_content_title h5:hover {
    color: #0395fe;
}
.recent_posts_content_text p {
    margin-top: 15px;
    color: #707070;
    margin-left: 31px;
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
}
.recent_posts_content_icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #0395fe;
    margin: 0 2px;
    border-radius: 50%;
    transition: all 0.5s;
    background-color: #0395fe;
    position: absolute;
    z-index: 1;
    left: 43%;
    top: 89%;
}
.recent_posts_content_icon i {
    color: #fff;
}
/* Comments */
.articles_list_text_comments_heading {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    margin-top: 230px;
    margin-bottom: 30px;
}
.articles_list_comments_items {
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #efefef;
}
.articles_list_comments_content {
    display: flex;
    justify-content: space-between;
}
.articles_list_comments_img img {
    margin: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.articles_list_comments_nameAndDate {
    font-size: 18px;
    margin-top: 40px;
    margin-left: -10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.articles_list_comments_nameAndDate span {
    position: relative;
    margin-right: 25px;
}
.articles_list_comments_nameAndDate span::after {
    content: "";
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 123px;
    border-right: 0.5px solid #979898;
    height: 95%;
}
.articles_list_comments_text {
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
    margin-left: -10px;
    color: #707070;
    margin-top: 20px;
}
.articles_list_comments_reply {
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    margin-left: -10px;
    font-size: 14px;
    border: 1px solid #e4e3e3;
    padding: 7px;
    box-shadow: 5px;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.articles_list_comments_reply i {
    margin-left: 5px;
    margin-right: 10px;
}
.articles_list_comments_reply a {
    text-decoration: none;
    color: #000;
}

.articles_list_comments_content1 {
    position: relative;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
}
.articles_list_comments_content1::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    border: 0.5px solid #e4e3e3;
    left: -35px;
    width: 100%;
    top: 0%;
}
.articles_list_comments_img1 img {
    margin: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.articles_list_comments_nameAndDate1 {
    font-size: 18px;
    margin-top: 40px;
    margin-left: -10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.articles_list_comments_nameAndDate1 span {
    position: relative;
    margin-right: 25px;
}
.articles_list_comments_nameAndDate1 span::after {
    content: "";
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 123px;
    border-right: 0.5px solid #979898;
    height: 95%;
}
.articles_list_comments_text1 {
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
    margin-left: -10px;
    color: #707070;
    margin-top: 20px;
}
.articles_list_comments_reply1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    margin-left: -10px;
    font-size: 14px;
    border: 1px solid #e4e3e3;
    padding: 7px;
    box-shadow: 5px;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.articles_list_comments_reply1 i {
    margin-left: 5px;
    margin-right: 10px;
}
.articles_list_comments_reply1 a {
    text-decoration: none;
    color: #000;
}
/* Leav Comments */
.articles_list_text_leav_comments_heading {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    margin-top: 60px;
    margin-bottom: 30px;
}
form {
    font-family: "Istok Web", sans-serif;
    font-size: 16px;
}
.form-input {
    color: #a2a2a2;
    padding: 10px;
    padding-left: 13px;
}
.form-comment {
    margin-bottom: 30px;
    color: #a2a2a2;
    margin-top: 30px;
}
.button-comment {
    width: 200px;
    font-size: 14px;
    font-family: "Istok Web", sans-serif;
    border-radius: 5px;
    height: 50px;
    border: none;
    color: #fff;
    background: linear-gradient(119deg, #028bfe, #029dfe, #02b4fe);
}
/* Search */

.articles_list_content_right_form {
    height: 292px;
    flex-direction: column;
    background-color: #f0f4f8;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 35px;
}

.articles_list_content_right_form h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.articles_list_content_right_form span {
    color: #707070;
    font-family: "Istok Web", sans-serif;
}

.search {
    display: flex;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Istok Web", sans-serif;
}

.search_icon {
    color: #02a6fe;
    padding: 10px;
}

.form-group input {
    height: 50px;
    border: none;
    font-family: "Istok Web", sans-serif;
}

.button-message {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    border-radius: 5px;
    height: 50px;
    border: none;
    color: #fff;
    background: linear-gradient(119deg, #028bfe, #029dfe, #02b4fe);
}

.input-group {
    padding-bottom: 10px;
}

/* Recent Post, Catagory List, Galary, Archives, Follow us, Tag */
/* recent post */
.content_left_recent_posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 30px;
}

.popular_recent_heading,
.popular_tags_heading {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 15px;
    line-height: 55px;
}

.popular_catagory_heading,
.popular_galary_heading,
.popular_archives_heading,
.popular_followUs_heading {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: -20px 0 5px 15px;
    line-height: 55px;
}

.popular_recent_heading::after,
.popular_catagory_heading::after,
.popular_galary_heading::after,
.popular_archives_heading::after,
.popular_followUs_heading::after,
.popular_tags_heading::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    border-left: 3px solid #028bfe;
    height: 35%;
}

.recent_posts_content_item {
    display: flex;
    cursor: pointer;
    padding-bottom: 5px;
}

.recent_posts_content_item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

.recent_posts_contentinformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 0;
    height: 100px;
}

.recent_posts_content p {
    margin-bottom: 0px;
}

.contentinformation_heading p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.contentinformation_heading {
    margin-top: 0px;
}

.recent_posts_content_img {
    padding-bottom: 20px;
}

.fontcolor {
    color: white;
}

.recect_contentinformation_time {
    font-family: "Istok Web", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7b7d7e;
    margin-left: 0;
    margin-bottom: -8px !important;
}

.recent_post_icon {
    color: #02a6fe;
}

.recent_post_icon .fa-clock {
    background-color: white;
}

/* Catagory List */
.popular_posts_content_list {
    font-family: "Istok Web", sans-serif;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.popular_catagory_content_item {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #5f5f5f;
}

.popular_catagory_content_item span {
    opacity: 0.5;
    margin-left: 5px;
    color: #c9c7c7;
}

/* Galary */
.popular_galary_content_item {
    width: 115px;
    height: 115px;
    display: inline-block;
    align-self: center;
    margin: 0 3px 7px 0;
}

.popular_galary_content_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*  Archives */
.popular_archives_content_item {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.content_right_catagory_posts,
.content_right_archives_posts,
.content_right_galary_posts,
.content_right_followUs_posts {
    padding-top: 37px;
}

.popular_archives_content_item span {
    color: #7b7d7e;
}

/* Follow Us */
.popular_followUs_content_icon {
    padding: 10px 0 15px 0;
}

.popular_followUs_content_icon ul {
    margin-left: -35px;
}

.popular_followUs_content_list_icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    margin: 0 2px;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #028bfe;
}

.popular_followUs_content_list_icon .fa-facebook {
    background-color: #3b5998;
}

.popular_followUs_content_list_icon .fa-twitter {
    background-color: #1da1f2;
}

.popular_followUs_content_list_icon .fa-linkedin {
    background-color: #0077b5;
}

.popular_followUs_content_list_icon .fa-pinterest-p {
    background-color: #bd081c;
}

.popular_followUs_content_list_icon .fa-google-plus {
    background-color: #db4437;
}

.popular_tags_content_item {
    margin-right: 10px;
    margin-left: 0;
}

.popular_tags_content {
    font-family: "Istok Web", sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 370px;
}

.testButton {
    text-align: center;
    font-weight: bold;
    color: #5f5f5f !important;
    font-size: 14px;
    width: 100%;
    padding: 11px 27px;
    border-radius: 20px;
    border: 1px solid #dddfe2;
    background: #fcfdfe;
}
