* {
    width: auto;
    margin: auto;
    max-width: 1920px;
    box-sizing: inherit;
    font-family: "Istok Web", sans-serif;
}

html {
    box-sizing: border-box;
}

/* Latest news */
.container {
    width: auto;
    margin: auto;
    max-width: 1170px;
}

.articles_list {
    padding: 100px 0 100px;
    margin: auto;
}

.articles_list_content_left {
    margin-right: 8px;
}

.articles_list_content_left_title h6 {
    color: #028bfe;
    font-size: 16px;
    font-weight: 400;
    font-family: "Istok Web", sans-serif;
}

.articles_list_content_left_title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 35px;
}

.item {
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #efefef;
    border-radius: 5px;
    width: 100%;
}

.item:hover {
    box-shadow: 0px 0px 15px rgb(182 182 182);
}

.image {
    width: 53%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    margin: 20px 20px;
}

.image img {
    border-radius: 5px;
    width: 270px;
    height: 210px;
    transform: scale(1);
    transition: all 0.5s;
}

.text {
    width: 100%;
    height: 100%;
}

.articles_list_text_title h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.articles_list_text_title a {
    text-decoration: none;
}

.articles_list_text_title h3:hover {
    color: #028bfe;
}

.articles_list_text_date {
    font-weight: 400;
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
}

.articles_list_text_date a {
    text-decoration: none;
}

.articles_list_text_date span {
    color: #707070;
}

.articles_list_text_date i {
    color: #028bfe;
}

.articles_list_text_sub {
    color: #707070;
    margin: 15px 0 0;
    letter-spacing: 0.5px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
}

.submit a {
    text-decoration: none;
    font-family: "Istok Web", sans-serif;
}

.button-loadMore {
    font-family: "Montserrat", sans-serif;
    height: 50px;
    width: 250px;
    margin-left: 50%;
    margin-top: 30px;
    border: none;
    transform: translateX(-50%);
    background: linear-gradient(119deg, #028bfe, #029dfe, #02b4fe);
}

/* Search */

.articles_list_content_right_form {
    height: 292px;
    flex-direction: column;
    background-color: #f0f4f8;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 35px;
}

.articles_list_content_right_form h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.articles_list_content_right_form span {
    color: #707070;
    font-family: "Istok Web", sans-serif;
}

.search {
    display: flex;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Istok Web", sans-serif;
}

.search_icon {
    color: #02a6fe;
    padding: 10px;
}

.form-group input {
    height: 50px;
    border: none;
    font-family: "Istok Web", sans-serif;
}

.button-message {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    border-radius: 5px;
    height: 50px;
    border: none;
    color: #fff;
    background: linear-gradient(119deg, #028bfe, #029dfe, #02b4fe);
}

.input-group {
    padding-bottom: 10px;
}

/* Recent Post, Catagory List, Galary, Archives, Follow us, Tag */
/* recent post */
.content_left_recent_posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 30px;
}

.popular_recent_heading,
.popular_tags_heading {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 15px;
    line-height: 55px;
}

.popular_catagory_heading,
.popular_galary_heading,
.popular_archives_heading,
.popular_followUs_heading {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: -20px 0 5px 15px;
    line-height: 55px;
}

.popular_recent_heading::after,
.popular_catagory_heading::after,
.popular_galary_heading::after,
.popular_archives_heading::after,
.popular_followUs_heading::after,
.popular_tags_heading::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    border-left: 3px solid #028bfe;
    height: 35%;
}

.recent_posts_content_item {
    display: flex;
    cursor: pointer;
    padding-bottom: 5px;
}

.recent_posts_content_item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

.recent_posts_contentinformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.contentinformation_heading p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.recent_posts_content_img {
    padding-bottom: 20px;
}

.fontcolor {
    color: white;
}

.recect_contentinformation_time {
    font-family: "Istok Web", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7b7d7e;
    margin-top: -5px;
    margin-left: 0;
}

.recent_post_icon {
    color: #02a6fe;
}

.recent_post_icon .fa-clock {
    background-color: white;
}

/* Catagory List */
.popular_posts_content_list {
    font-family: "Istok Web", sans-serif;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.popular_catagory_content_item {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #5f5f5f;
}

.popular_catagory_content_item span {
    opacity: 0.5;
    margin-left: 5px;
    color: #c9c7c7;
}

/* Galary */
.popular_galary_content_item {
    width: 115px;
    height: 115px;
    display: inline-block;
    align-self: center;
    margin: 0 3px 7px 0;
}

.popular_galary_content_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*  Archives */
.popular_archives_content_item {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.content_right_catagory_posts,
.content_right_archives_posts,
.content_right_galary_posts,
.content_right_followUs_posts {
    padding-top: 37px;
}

.popular_archives_content_item span {
    color: #7b7d7e;
}

/* Follow Us */
.popular_followUs_content_icon {
    padding: 10px 0 15px 0;
}

.popular_followUs_content_icon ul {
    margin-left: -35px;
}

.popular_followUs_content_list_icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    margin: 0 2px;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #028bfe;
}

.popular_followUs_content_list_icon .fa-facebook {
    background-color: #3b5998;
}

.popular_followUs_content_list_icon .fa-twitter {
    background-color: #1da1f2;
}

.popular_followUs_content_list_icon .fa-linkedin {
    background-color: #0077b5;
}

.popular_followUs_content_list_icon .fa-pinterest-p {
    background-color: #bd081c;
}

.popular_followUs_content_list_icon .fa-google-plus {
    background-color: #db4437;
}

.popular_tags_content_item {
    margin-right: 10px;
    margin-left: 0;
}

.popular_tags_content {
    font-family: "Istok Web", sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 370px;
}

.testButton {
    text-align: center;
    font-weight: bold;
    color: #5f5f5f !important;
    font-size: 14px;
    width: 100%;
    padding: 11px 27px;
    border-radius: 20px;
    border: 1px solid #dddfe2;
    background: #fcfdfe;
}
