/* pc */
/* Desktops and laptops ----------- */

@media (min-width:1024px)
{
     /* partners  */
     .text-content-head-partner {
        width: 100%;
        top: 8.2%;
        right: -2%;
    }
 /* partners end */
}
/* pc end */
/* tablet */
@media(min-width:723px) and (max-width:1023px)
{
   /* partners */
   .bg-img-head-partner {
    height:260px;
    }
   .text-content-head-partner {
    width: 100%;
    top: 3.2%;
    right: -1%;
}
.customer-area-heading-main-partner {

    margin-top: -100px;
}
 .border-item1,
    .border-item2,
    .border-item3,
    .border-item4,
    .border-item5,
    .border-item6,
    .border-item7,
    .border-item8 {
        border-radius: 0px;
        border: 0px #d9d9d9;
    } 
.item-customer-partner {
    height: auto;
    width: auto;
    max-width: 1170px;
    /* max-height: 290px; */
    margin-top: 44px;
}
.bg-slide-main-partners{
    top: 354px;
}
.carousel-inner{
    margin-left:56px;
}
/* footer parters custom position */
.container.footer_top {
    margin-top: 302px;
    margin-left: 123px;
  }
  /* footer parters custom position */
 /* partners end */
}
/* tablet end */
/* mobie */
@media(max-width:723px){
   /* serviceLists */
    .main-serviceList {
        height: auto;
    max-height: 2070px;
    }
    .main-serviceList .box-content-serviceList {
        height: 200px;
        margin-top: 0px;
        min-height: 2401px;
        /* padding-right: 5px; */
    }
    /* partners */
    .bg-img-head-partner {
      height:260px;
      }
      .text-content-head-partner {
        text-align: center;
        top: 0.2%;
        margin-top: -4%;
        font-size: 1px;
    }
    .customer-area-heading-main-partner {

    margin-top: -151px;
  
    }
    .bg-slide-main-partners{
      top:544px;
      /* height:auto;
      min-height: 14000px; */
    }

    .item-customer-partner {
        height:auto;
        min-height: 700px;
     
        width:auto;
        max-width:700px;
    }
    .border-item1,
    .border-item2,
    .border-item3,
    .border-item4,
    .border-item5,
    .border-item6,
    .border-item7,
    .border-item8 {
        border: 1px solid #d9d9d9;
    }
    /* .col-mobile{
        width: auto;
        max-width: 384px;
    } */
    .col-carousel-partners_custom{
        width: 25% !important;
    }
    .carousel-inner{
       /* width: 100%; */
       /* min-width: 100%; */
       width: 1170px;
       margin-left: -68%;
       }
     /* .carousel-inner { 
        width: auto ;
        min-width: 500px;
        margin-left: 25%;
        overflow: auto!important;
    }
    .carousel .carousel-item {
        text-align: center;
        overflow: auto!important;
        width: auto;
        max-width: 398px;
        height: 160px;
    }
    .box-carousel-partner {
        width:auto;
       max-width: 99px;
        height: 80px;
        overflow: auto!important;
    }  */

    /* footer partners custom position */
    .footer__wrapper-content {
        margin-top: 513px;
    }
      /* footer partners custom position end*/
       /* partners end*/
}
/* mobie end */
/* iphone XR */
@media (max-width: 414px) and (max-height: 896px) {
 
    .customer-area-heading-main-partner {
        margin-top: -00px;
        margin:auto;
    }
    .gird{
        height:auto;
        min-height: 2000px;
    }
    .main-partners{
        height:auto;
        min-height: 2000px;
    }

}
/* iphone X */
@media (max-width: 574px) {
    /* serviceLists */
    .main-serviceList .col-12 {
        margin-top: 880px;
        margin-left: -898px;
        width: 100%;
        flex: 0 0 auto;
        /* padding-bottom: 300px; */
    }
    .main-serviceList .col-lg-6 .box-serviceList,
    .box-serviceList2,
    .box-serviceList3,
    .box-serviceList4,
    .box-serviceList5,
    .box-serviceList6 {
        width: 10%;
    }

    .main-serviceList .box-content-serviceList {
        /* height: 2500px;
        margin-top: 250px;
        min-height: 2500px;
        padding-right: 5px; */
    }
    .main-serviceList .box-serviceList2 {
        padding: bottom 450px;
    }

    /*serviceLists end  */
    /* partners */
    .text-description-head-partner {
        margin-top: -2px;
        font-size: 14px;
    }
    .text-heading-heading-partner {
        font-size: 24px;
        font-weight: bold;
        font-family: var(--font-family1);
        margin-top: 16px;
    }
  

   

    #main .col-sm-12,
    .col-12 {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #main .col-12-padding {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-bottom: 2px;
    }
    .box-carousel-partner {
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* .text-content-head-partner{

    } */
}
@media (min-width: 539) and (max-width: 1022px) {
    /* .border-item1,
    .border-item2,
    .border-item3,
    .border-item4,
    .border-item5,
    .border-item6,
    .border-item7,
    .border-item8 {
        border-radius: 0px;
        border: 0px #d9d9d9;
    } */
}
/* full size */
@media (max-width: 1023px) and (min-width: 573px) {
    /* .border-item1,
    .border-item2,
    .border-item3,
    .border-item4,
    .border-item5,
    .border-item6,
    .border-item7,
    .border-item8 {
        border-radius: 0px;
        border: 0px #d9d9d9;
    } */
}
/* full size */
